$text-secondary: #61dafb;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: $text-secondary;
}

.container {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  span {
    color: $text-secondary;
  }
}

.bg-div {
  position: absolute;
  top: 180px;
  left: 50%;
  .bg-img {
    font-size: 40rem;
    color: rgba(255, 255, 255, 0.05);
  }
}

.header {
  background-color: #20232a;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.02rem;
  position: sticky;
  top: 0;

  .header-top {
    font-size: 24px;
  }
  p {
    padding: 20px;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
  }
  .navbar {
    line-height: 3rem;
    font-size: 17px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px 20px;
    .navlogo {
      display: flex;
      width: 180px;
    }

    ul {
      display: flex;
      list-style: none;

      .search-input {
        height: 30px;
        background-color: transparent;
        color: #ffffff;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        border: 0;
        border-radius: 5px;
        outline: none;
        padding-left: 30px;
        background-image: url(/search.svg);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position-y: center;
        background-position-x: 5px;
      }

      .search-input:focus {
        background-color: #373940;
      }
      li {
        padding: 0 15px;
      }
      .languages {
        a {
          path:hover {
            fill: $text-secondary;
          }
        }
        color: $text-secondary;
      }
    }

    .navdetails {
      font-size: 14px;
    }
  }
}

.feature {
  background-color: #282c34;
  color: white;
  padding: 55px 0;
  h1 {
    padding-top: 60px;
    text-align: center;
    margin: 0;
    font-size: 60px;
    letter-spacing: 0.01em;
  }

  h3 {
    padding-top: 15px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.01em;
    font-weight: 200;
    font-weight: lighter;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 20px;
    .button {
      display: inline-block;
      font-size: 20px;
      font-weight: 300;
      background-color: #61dafb;
      color: #000000;
      padding: 15px 25px;
      white-space: nowrap;
      transition-duration: 0.25s;
    }

    .button:hover {
      background-color: white;
    }
    a {
      padding: 15px;
      font-size: 20px;
    }
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  color: rgba(20, 20, 20, 0.9);
  padding: 90px 0px 60px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.card {
  width: 30%;

  .card-title {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0;
    padding-bottom: 20px;
  }

  .card-text {
    line-height: 1.7rem;
    font-weight: 300 bolder;
    letter-spacing: 0.02rem;
    padding-bottom: 20px;
    font-size: 17px;
  }
}

.whitespace {
  height: 100px;
}

@media (min-width: 1200px) {
  .mobile-popup {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container,
  .header {
    display: none;
  }

  .mobile-popup {
    display: absolute;
  }
}
